@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", serif;
  font-weight: 500;
  line-height: 1.5;
  color: black;
  background-color: #FBFBFB;
}

header {
  margin-bottom: 80px;
}

main {
  padding-bottom: 80px;  
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1 {
  font-size: 7.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;  
}

h2.tag {
  color: #0027d5;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #4B4B4B;
}

a:hover {
  color: #0027D5;
}

@media(max-width:992px){
  h1 {
    font-size: 3.25rem;
  }
}

@media (max-width: 768px) {
  header {
    margin-bottom: 64px;
  }

  main {
    padding-bottom: 64px;
  }
}
/* header */
ul.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 24px 0px;
}

a.menu_link:link,
a.menu_link:active,
a.menu_link:visited {
  font-size: 1.75rem;
  font-weight: 700;
  color: #000000;
  display: inline-block;
}

a.menu_link:hover {
  color: #0027D5;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;  
}

.baseline {
  border-bottom: 1px solid #6C757D;
}

.banner {
  width: 50%;;
}

.bannerTop-left {
  position: relative;
  z-index: 1;
  height: 0;
  padding-bottom: calc(100vh * (139 / 160));
  overflow: hidden;
}

.bannerTop-left > img {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerTop-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: transparent url("../images/Hero-Section2.png") no-repeat center center / cover;
  padding: 80px;
}

.slogan {
  color: #0027D5;  
}

.banner_title {
  font-size: clamp(3.25rem, 2.2184rem + 4.4013vw, 7.5rem);
  margin-bottom: 12px;
}

.banner_title-small {
  font-size: 1.75rem;
  font-weight: 700;  
}

.bannerBottom-left {
  position: relative;
  z-index: 1;
  height: 0;
  padding-bottom: calc(100vh * (160 / 237));
  overflow: hidden;
}

.bannerBottom-left > img {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerBottom-right {
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.introduction {
  width: 1077px;  
  margin-top: -160px;
  margin-left: 40%;
  z-index: 1;
}

.intro-box {
  background-color:#ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
  padding: 80px 40px;
}

.intro-box p {
  font-size: 1.75rem;
  margin-bottom: 16px;
}

.time {
  display: inline-block;
  margin-bottom: 4px;
}

.course_content
.course_text {
  color: inherit;
}

ul.tag {
  display: flex;
  margin-bottom: 8px;
}

a.tag_title {
  font-size: 1.5rem;
  color: #0027D5;
  margin-right: 8px;
}

.tag_status {
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 80px;
  background-color: #0027D5;
  color: white;
  display: inline-block;
}

.course_title {
  font-size: 1.75rem;
  margin-bottom: 8px;
}

.course_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  margin-bottom: 16px;
}

.course_text.tag {
  color: #4B4B4B;
}

.link {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 40px;
}

.link:hover {
  border-color: #0027D5;
}

@media(max-width:768px){
  .wrapper {
    display: block;
    height: auto;
  }

  .banner {
    width: 100%;
  }

  .bannerTop-right {
    padding: 24px;
  }

  .bannerTop-right.tag {
    padding-bottom: 200px;
  }

  .introduction {
    width: 100%;    
    margin-left: 0;
    padding: 0 12px;
  }
  
  .intro-box {
    padding: 40px 24px;
  }

  .intro-box p {
    font-size: 1.5rem;
  }

  .bannerBottom-right {    
    padding: 24px 12px;
  }
}
/* header end */
/* main */
.container {
  max-width: 1320px;
  padding: 0 12px;
  margin-left: auto;
  margin-right: auto;
}

.section.baseline {
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.section_title {
  font-size: 4rem;
  margin-bottom: 32px;
}

.serve {
  display: flex;
  max-width: 1076px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 64px;
}

.serve:nth-child(5) {
  margin-bottom: 32px;
}

.serve.right {
  flex-direction: row-reverse;
}

.serve_img {
  position: relative;
  width: 59%;
  height: 0;
  padding-bottom: calc(59% * ( 80 / 159 ));
  overflow: hidden;
}

.serve_img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.serve_content {
  width: 480px;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);  
  z-index: 1;
}

.serve.left .serve_content {
  margin-left: -4%;
}

.serve.right .serve_content {
  margin-right: -4%;
}

.decorate {
  position:relative;
  z-index: 1;
}

.decorate::before {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0;
  top: 18.75px;
  width: 30px;
  height: 2.5px;
  background-color: #0027D5;
}

.serve_content-title.decorate {
  font-size: 1.75rem;
  margin-bottom: 8px;
  padding-top: 40px;
}

.serve_content-text {
  max-width: 480px;
  color: #4b4b4b;
}

a.serve-contact:link,
a.serve-contact:active,
a.serve-contact:visited {
  text-align: right;
  color: #000000;
}

a.serve-contact:hover {
  color: #0027D5;
}

a.serve-contact > h2 > i {
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
  line-height: 1.3;
}

a.serve-contact:hover > h2 > i {
  border-color: #0027D5;
}

.swiperContainer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper_button-direction {
  width: 100%;
  height: 44px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  height: 44px;
  background-color: #0027D5;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;  
}

.case_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.case_check:first-child {
  margin-bottom: 40px;
}

.case_img {
  padding: 24px;
  background-color: #EDEDED;
  width: 745px;
}

.case_content {
  position: relative;
  width: 526px;
}

.case_content-text {    
  padding: 80px 40px;
}

.case_content-text p,
.case_content-text p .strong {
  font-weight: 700;
}

.case_content-text p {
  padding-top: 64px;
}

.case_content-text.top {
  background-color: #ffffff;
  margin-left: -53%;
}

.case_content-text.bottom {
  background-color: #f5f5f5;
  margin-top: -10%;
}

.case_content-text.bottom p {
  margin-bottom: 24px;
}

a.case_content-link:link,
a.case_content-link:active,
a.case_content-link:visited {
  display: inline-block;
  padding: 8px 16px;
  color: #0027d5;
  background-color: #ffffff;
  border: 1px solid #0027d5;
  border-radius: 40px;
  font-weight: 700;
}

a.case_content-link:hover {
  color: #4b4b4b;
  border-color: #4b4b4b;
}

.case_list {
  display: flex;
  background-color: #f5f5f5;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.case_item {  
  flex: 1 1 294px;
}

.case_item img {
  margin-bottom: 16px;
}

.case_item h3,
.case_check:first-child {
  margin-bottom: 8px;
}

.case_item h3 {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.case_check-wrapper {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #4b4b4b;
}

.case_check {
  color: #4b4b4b;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.case_check i {
  color: #0027D5;
}

.course {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.course_item {
  flex-basis: calc((100% - 48px) / 3);
  flex-grow: 0;
  flex-shrink: 1;
  margin-top: 40px;
  margin-right: 24px;
  margin-bottom: 40px;
}

.swiper-slide .course_item {
  margin: 0;
}

.course_content {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc( 100% * (25 / 52) ); 
  overflow: hidden;
  margin-bottom: 16px;
}

.course_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search {
  border: 1px solid #4B4B4B;
  border-radius: 40px;
  width: 416px;
  padding: 16px 48px 16px 50px;
  position: relative;
  z-index: 1;
}

.search i {
  position: absolute;
  z-index: 10;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #4B4B4B;
}

.search_input {
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #4B4B4B;
  display: block;
  width: 100%;
  outline: none;
}

.detail {
  max-width: 660px;
}

.detail h2 {
  margin-bottom: 24px;
}

.detail section {
  margin-bottom: 24px;
}

.detail section.distance {
  margin-bottom: 48px;
}

.detail section a:link,
.detail section a:active,
.detail section a:visited {
  color: #0027D5;
  text-decoration: underline;
}

.detail h3 {
  margin-bottom: 12px;
}

.detail .aside {
  background-color: #EDEDED;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 24px;
}

.detail .aside p {
  font-weight: 700;
}

.detail p.distance {
  margin-bottom: 8px;
}

.detail img {
  margin: 24px 0;
}

.detail ol {  
  margin-left: 25px;
}

.detail ol.disc {
  list-style-type: disc;
}

.detail ol.decimal {
  list-style-type: decimal;
}

.detail ol.disc li::marker {
  font-size: 0.625rem;
}

.strong {
  font-weight: 500;
  color: #0027d5;
}

.pagination {
  max-width: 328px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 8px 20px;
}

.page-link {
  display: inline-block;
  padding: 8px 10px;
}

.page-link.stress {
  color: #0027D5;
}

.page_nav {
  display: flex;
  justify-content: space-between;
}

a.page_nav-item:link,
a.page_nav-item:active,
a.page_nav-item:visited {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  border: 1px solid #4B4B4B;
  line-height: 1;
}

a.page_nav-item i {
  font-size: 1.5rem;
  vertical-align: text-top;
}

a.page_nav-item:hover {
  border-color: #0027D5;
}

@media (min-width: 992px) {
  .course_item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 1430px) {
  .swiperContainer {
    display: block;
  }

  .swiper {
    margin-bottom: 32px;
  }

  .swiper_button-direction {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    transform: none;
    position: static;
    height: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    margin-top: 0;
  }

  .swiper-slide .course_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .case_list {
    flex-wrap: wrap;
  }

  .course_item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .course_item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .section.baseline {
    padding-bottom: 64px;
    margin-bottom: 64px;
  }

  a.serve-contact > h2 > i {
    margin-top: 8px;
  }

  .search {
    width: 100%;
    margin-bottom: 24px;
  }

  .course_item {
    flex-basis: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .serve {
    display: block;
    margin-bottom: 32px;    
  }

  .serve_img {
    width: 100%;
    padding-bottom: calc(100% * ( 80 / 159 ));
  }

  .serve_content {
    width: 100%;
    box-shadow: none;
  }

  .serve.left .serve_content {
    margin-left: 0;
  }

  .serve.right .serve_content {
    margin-right: 0;
  }

  .section_title {
    font-size: 3rem;
  }

  .case_content-text {
    padding: 40px 24px;
  }

  .case_content-text.top {
    margin-left: 0;
  }

  .case_content-text.bottom {
    margin-top: 0;
  }

  .case_top {
    display: block;
  }

  .case_img, .case_content {
    width: 100%;
  }

  .case_img {
    padding-bottom: 0;
  }

  .case_content-text.top {
    margin-bottom: 12px;
  }
}

@media (max-width: 375px) {
  .section_title.break {
    width: 7ch;
    word-wrap: break-word;
  }
}
/* main end */
/* footer */
footer > .wrapper {
  margin-bottom: 80px;
}

footer .section:nth-child(2).baseline {
  margin-bottom: 0;
}

.newsletter {
  max-width: 800px;
  padding: 80px;
  background-color: #ffffff;
}

.newsletter_title {
  font-size: clamp(3rem, 2.5725rem + 1.1896vw, 4rem);
  margin-bottom: 16px;
}

.newsletter_title-small {
  font-size: 1.25rem;
  margin-bottom: 24px;
  display: block;
}

.newsletter_input {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1e1919;
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: 0;
  margin-bottom: 8px;
}

.newsletter_input:nth-child(4) {
  margin-bottom: 24px;
}

.newsletter a.link:link,
.newsletter a.link:active,
.newsletter a.link:visited {
  color: #0027D5;
  border-color: #0027D5;
}

.newsletter a.link:hover {
  color: #4b4b4b;
  border-color: #4b4b4b;
}

a.contact_item:link,
a.contact_item:active,
a.contact_item:visited {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-size: 2rem;
}

a.contact_item:hover {
  color: #0027D5;
}

a.contact_item span {
  border-bottom: 1px solid #000000;
}

a.contact_item:hover span {
  border-bottom-color: #0027D5;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 12px;
}

.emailAddr, .socialMedia {
  width: 50%;
}

.emailAddr > a {
  font-size: 2rem;
  font-style: normal;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.intro-box .socialMedia {
  justify-content: start;
  width: 100%;
}

.copyright {
  word-break: break-all;
  padding: 24px 0;
  text-align: center;
  background-color: #ffffff;
}

@media (max-width: 991px) {
  footer .bannerTop-right {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  footer .bannerTop-right {
    padding: 12px;
  }

  footer > .wrapper {
    margin-bottom: 64px;
  }

  .newsletter {
    padding: 40px 24px;
  }

  a.contact_item:link,
  a.contact_item:active,
  a.contact_item:visited {
    display: block;
    font-size: 1.5rem;
  }

  a.contact_item span {
    display: block;
    margin-bottom: 8px;
  }

  .contact {
    display: block;
    padding: 24px 0 0;
  }

  .emailAddr, .socialMedia {
    width: 100%;
  }

  .emailAddr {
    text-align: center;
    margin-bottom: 24px;
  }

  .socialMedia {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .contact {
    display: none;
  }

  .copyright {
    padding: 24px 40px;
  }
}
/* footer end */